body{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;

}
#banner{
    font-size: 15px;
    background-color: blue;
    color: orange;
    padding: 20px;
}
#menu{
    float: initial;
    padding: 30px;
    background-color: darkorange;
    font-size: 25px;
    padding-bottom: 70px;
    padding-top: 50px;
    color: blueviolet;
}
#icerik{
    padding: 10px;
    background-color: darkgreen;
    font-size: 40px;
}